.submit-table-header {
    padding: 8px 0 0 3px;
    font-weight: bold;
}

.submit-table td {
    width: 50%;
}

.submit-table td:first-child {
    text-align: right;
}

.submit-warning {
    color: red;
}

.noaction-warning {
    text-align: center;
    padding: 15px;
    color: red;
}