html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    background: #695344 url('../img/bg.jpg') no-repeat center center;
}

.tabs-container {
    padding-top: 60px;
    padding-bottom: 60px;
    min-width: 720px;
}

.tabs {
    background: #f5f5f5;
    box-shadow: 0 0 20px rgb(134, 116, 101);
    border-radius: 10px;
}

.form-header {
    padding: 12px;
    text-align: center;
    font-size: 2em;
}

ul.tab-navs {
    background: #ffffff;
    margin: 0;
    padding: 0;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    color: darkslategrey;
}

ul.tab-navs li {
    width: 33.3334%;
    padding: 6px;
    display: inline-block;
    text-align: center;
    cursor:pointer;
}

ul.tab-navs li.active {
    background-color: #d58512;
    color: lightyellow;
}

.form-content {
    padding: 12px 12px 0;
}

.general-warn {
    font-size: 1.8em;
    padding: 6px 12px 6px 6px;
    color: gray;
}

.general-form {
    padding: 15px 15px 0;
}

.well-information {
    text-align: center;
    padding-top: 10px;
}

.thin-hr {
    margin: 5px 0 0;
    border-top: 1px solid gainsboro;
}

label.readonly-label {
    color: grey;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

input.ng-dirty.ng-invalid {
    border: 1px solid #ff747f;
}
textarea.ng-dirty.ng-invalid {
    border: 1px solid #ff747f;
}
select.ng-dirty.ng-invalid {
    border: 1px solid #ff747f;
}