<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="css/jftest-main.css">
    <link rel="stylesheet" href="css/jftest-actions.css">
    <link rel="stylesheet" href="css/jftest-submit.css">
</head>

<body ng-app="jfTest" ng-controller="incidentController">

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="tabs-container">
                <div class="tabs">
                    <div class="form-header">Incident Form</div>

                    <ul class="tab-navs" ng-controller="tabsController"  ng-cloak>
                        <li
                                ng-repeat="page in tabs"
                                ng-click="selectTab($index)"
                                ng-class="{'active': tab.current === $index}">
                            <span>{{page.title}}</span>
                        </li>
                    </ul>
                    <div class="form-content" ng-view></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Angular templates -->
<script type="text/ng-template" id="general">
<div class="row">
    <div class="col-sm-12">
        <div class="pull-left glyphicon glyphicon-warning-sign general-warn" aria-hidden="true"></div>
        <span>Please complete the form below based on available information.
        Click on applicable tabs above to enter additional information related to the incident.
        When complete click 'REVIEW and SUBMIT' tab above.</span>
    </div>
</div>
<div class="row">
    <form name="newIncidentForm" class="form-horizontal general-form" novalidate>
        <div class="form-group">
            <label for="icdDateTime" class="col-xs-3 control-label">* Date and Time of Incident:</label>
            <div class="col-xs-3">
                <div class="input-group date" id="dtPicker">
                    <input
                            type="datetime"
                            class="form-control"
                            id="icdDateTime"
                            required
                            date-validator
                            date-format="datetime"
                            ng-model="newIncident.dateTime" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="col-sm-6 well-information">
                <span>Well Information:</span>
            </div>
        </div>
        <div class="form-group">
            <label for="icdReportedBy" class="col-xs-3 control-label">* Reported By:</label>
            <div class="col-xs-3">
                <input
                        type="text"
                        class="form-control"
                        id="icdReportedBy"
                        required
                        ng-model="newIncident.reportedBy" />
            </div>
            <label for="icdWellNumber" class="col-xs-3 control-label">* Well Number:</label>
            <div class="col-xs-3">
                <select
                        class="form-control"
                        id="icdWellNumber"
                        ng-model="newIncident.well"
                        ng-options="well.name for well in icd.wells">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="icdCompanyofReporter" class="col-xs-3 control-label">* Company of Reporter:</label>
            <div class="col-xs-3">
                <select
                        class="form-control"
                        id="icdCompanyofReporter"
                        name="companyOfReporter"
                        ng-model="newIncident.companyOfReporter"
                        ng-options="company for company in icd.companies">
                    <option value="">-- select --</option>
                </select>
            </div>
            <label for="icdRegion" class="col-xs-3 control-label readonly-label">Region:</label>
            <div class="col-xs-3">
                <input
                        type="text"
                        class="form-control"
                        id="icdRegion"
                        readonly
                        ng-model="newIncident.region" />
            </div>
        </div>
        <div class="form-group">
            <label for="icdContactNumber" class="col-xs-3 control-label">* Contact Number:</label>
            <div class="col-xs-3">
                <input
                        type="text"
                        class="form-control"
                        pattern="^(\([0-9]{3}\)|[0-9]{3}-)[0-9]{3}-[0-9]{4}$"
                        title="U.S. Phone Number"
                        id="icdContactNumber"
                        required
                        ng-model="newIncident.contactNumber" />
            </div>
            <label for="icdState" class="col-xs-3 control-label readonly-label">State:</label>
            <div class="col-xs-3">
                <input
                        type="text"
                        class="form-control"
                        id="icdState"
                        readonly
                        ng-model="newIncident.state" />
            </div>
        </div>
        <div class="form-group">
            <label for="icdSupervisorName" class="col-xs-3 control-label">Supervisor Name:</label>
            <div class="col-xs-3">
                <input
                        type="text"
                        class="form-control"
                        id="icdSupervisorName"
                        ng-model="newIncident.supervisorName" />
            </div>
            <label for="icdFieldOffice" class="col-xs-3 control-label readonly-label">Field Office:</label>
            <div class="col-xs-3">
                <input
                        type="text"
                        class="form-control"
                        id="icdFieldOffice"
                        readonly
                        ng-model="newIncident.fieldOffice" />
            </div>
        </div>
        <div class="form-group">
            <label for="icdHLDescription" class="col-xs-3 control-label">High Level Description of Incident:</label>
            <div class="col-xs-3">
                <textarea
                        class="form-control"
                        rows="5"
                        id="icdHLDescription"
                        required
                        ng-model="newIncident.hLDescription"></textarea>
            </div>
            <label class="col-xs-3 control-label">* Incident Severity (Check all that Apply):</label>
            <div class="col-xs-3">
                <div ng-repeat="severity in icd.severity" class="checkbox">
                    <label>
                        <input
                                type="checkbox"
                                ng-disabled="newIncident.noneApply"
                                ng-model="newIncident.severity[severity]" /> {{severity}}
                    </label>
                </div>
                <hr class="thin-hr">
                <div class="checkbox">
                    <label>
                        <input
                                type="checkbox"
                                ng-model="newIncident.noneApply" /> None Apply
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>
</script>
<script type="text/ng-template" id="actions">
    <div class="actions-none" ng-show="!correctiveActions.length && !showActionEditor">
        No one immediate corrective actions added. Please complete at least one action.<br><br>
        <button type="button" class="btn btn-success" ng-click="addAction()">Add Corrective Action</button>
    </div>
    <div class="actions-table" ng-show="correctiveActions.length">
        <div>
            <b>Immediate Corrective Action(s)</b> ({{correctiveActions.length}} of 5 available)
        </div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <td ng-repeat="header in tableHeaders">{{header}}</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="action in correctiveActions">
                <td>{{action.description}}</td>
                <td>{{action.takenBy}}</td>
                <td>{{action.company}}</td>
                <td>{{action.showDate}}</td>
                <td>
                    <button type="button" class="btn btn-success" ng-click="editAction($index)">Edit</button>
                    <button type="button" class="btn btn-danger" ng-click="removeAction($index)">Remove</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
        <div class="action-editor-buttons" ng-show="correctiveActions.length < 5 && !showActionEditor">
            <div class="pull-right">
                <button type="button" class="btn btn-success" ng-click="addAction()">Add Corrective Action</button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <form name="addEditAction" class="form-horizontal action-form" ng-show="showActionEditor" novalidate>
        <div class="form-group">
            <label for="actionDescription" class="col-xs-3 control-label">* Description of Corrective Action:</label>
            <div class="col-xs-3">
                    <textarea
                            class="form-control"
                            id="actionDescription"
                            rows="6"
                            required
                            ng-model="editedAction.description"></textarea>
            </div>
            <div class="col-xs-6">
                <div class="form-group row">
                    <label for="actionTakenBy" class="col-xs-6 control-label">* Action Taken by (name):</label>
                    <div class="col-xs-6">
                        <input
                                type="text"
                                class="form-control"
                                id="actionTakenBy"
                                required
                                ng-model="editedAction.takenBy" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="actionCompany" class="col-xs-6 control-label">* Company</label>
                    <div class="col-xs-6">
                        <select
                            class="form-control"
                            id="actionCompany"
                            name="actionCompany"
                            ng-model="editedAction.company"
                            required
                            ng-change="validateActionCompany()"
                            ng-options="company for company in companies">
                            <option value="">-- select --</option>
                            </select>
                    </div>
                </div>
                <div class="row">
                    <label for="actionDate" class="col-xs-6 control-label">* Date</label>
                    <div class="col-xs-6">
                        <div class="input-group date" id="actionDatePicker">
                            <input
                                    type="text"
                                    class="form-control"
                                    id="actionDate"
                                    name="actionDate"
                                    required
                                    readonly
                                    date-validator
                                    date-format="date"
                                    ng-model="editedAction.date" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row action-editor-buttons">
            <div class="pull-right">
                <button
                        type="button"
                        class="btn btn-success"
                        ng-disabled="addEditAction.$invalid"
                        ng-hide="editedAction.index !== undefined"
                        ng-click="saveAction()">Add</button>
                <button
                        type="button"
                        class="btn btn-success"
                        ng-disabled="addEditAction.$invalid"
                        ng-show="editedAction.index !== undefined"
                        ng-click="saveEditedAction()">Save</button>
                <button type="button" class="btn btn-default" ng-click="cancelEditAction()">Cancel</button>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
</script>
<script type="text/ng-template" id="submit">
    <div class="row">
        <div class="col-sm-12">
            <div class="pull-left glyphicon glyphicon-warning-sign general-warn" aria-hidden="true"></div>
            <div class="pull-right">
                <button type="button" class="btn btn-success" ng-disabled="!checkValidate()" ng-click="sendIncident()">Submit</button>
            </div>
            <span>Please review all the incident information and click "Submit" to send the report to the Company.<br>
            If you want to change something - return to the Incident Form.</span>
        </div>
    </div>
    <div class="submit-table-header">General Information:</div>
    <table class="table table-bordered table-striped submit-table">
        <tr>
            <td>Date and Time of Incident:</td>
            <td>{{newIncident.dateTime.format('MM/DD/YYYY HH:mm A')}}</td>
        </tr>
        <tr>
            <td>Reported By:</td>
            <td>{{newIncident.reportedBy}}<span ng-hide="newIncident.reportedBy" class="submit-warning">This field is required</span></td>
        </tr>
        <tr>
            <td>Company of Reporter:</td>
            <td>{{newIncident.companyOfReporter}}<span ng-hide="newIncident.companyOfReporter" class="submit-warning">This field is required</span></td>
        </tr>
        <tr>
            <td>Contact Number:</td>
            <td>{{newIncident.contactNumber}}<span ng-hide="newIncident.contactNumber" class="submit-warning">This field is required</span></td>
        </tr>
        <tr>
            <td>Supervisor Name:</td>
            <td>{{newIncident.supervisorName}}</td>
        </tr>
        <tr>
            <td>High Level Description of Incident:</td>
            <td>{{newIncident.hLDescription}}<span ng-hide="newIncident.hLDescription" class="submit-warning">This field is required</span></td>
        </tr>
        <tr>
            <td>Well Number:</td>
            <td>{{newIncident.well.name}}<span ng-hide="newIncident.well" class="submit-warning">This field is required</span></td>
        </tr>
        <tr>
            <td>Region:</td>
            <td>{{newIncident.well.region}}</td>
        </tr>
        <tr>
            <td>State:</td>
            <td>{{newIncident.well.state}}</td>
        </tr>
        <tr>
            <td>Field Office:</td>
            <td>{{newIncident.well.fieldOffice}}</td>
        </tr>
        <tr>
            <td>Incident Severity:</td>
            <td>
                <span ng-hide="newIncident.noneApply" ng-repeat="(severity, isActive) in newIncident.severity">
                    <span ng-show="isActive" class="label label-primary">{{severity}}</span>
                </span>
                <span ng-show="newIncident.noneApply" class="label label-success">None Apply</span>
                <span ng-hide="hasSeverity() || newIncident.noneApply" class="submit-warning">At least on of severity must be checked</span>
            </td>
        </tr>
    </table>
    <div class="submit-table-header">Immediate Corrective Action(s)</div>
    <div class="noaction-warning" ng-hide="correctiveActions.length">
        No corrective actions created. Please return to "Corrective Actions" tab and add action.
    </div>
    <table class="table table-bordered table-striped table-responsive submit-table" ng-repeat="action in correctiveActions">
        <tr>
            <td>Description of Corrective Action ({{$index + 1}}):</td>
            <td>{{action.description}}</td>
        </tr>
        <tr>
            <td>Action Taken By (name) ({{$index + 1}}):</td>
            <td>{{action.takenBy}}</td>
        </tr>
        <tr>
            <td>Company ({{$index + 1}}):</td>
            <td>{{action.company}}</td>
        </tr>
        <tr>
            <td>Date ({{$index + 1}}):</td>
            <td>{{action.showDate}}</td>
        </tr>
    </table>
</script>

<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bower_components/moment/min/moment.min.js"></script>
<script src="../bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>

<script src="app.js"></script>

<!--Angular controllers-->
<script src="js/controllers/tabs.js"></script>
<script src="js/controllers/incident.js"></script>
<script src="js/controllers/general.js"></script>
<script src="js/controllers/actions.js"></script>
<script src="js/controllers/submit.js"></script>

<!--Angular validators-->
<script src="js/validators/dateValidator.js"></script>

</body>
</html>